.body-dark {
	background-color: #212121;
}

.body-color-white {
	color: white;
}

.login-box-clamp {
	min-width: 200px;
	max-width: 450px;
}

.card-default > .card-header {
	background-color: #474747;
	border-bottom: 0px;
}

.card-default > .card-body {
	background-color: #696969;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.panel-default > .panel-heading > .panel-title {
	color: white;
}

.mainbox {
	margin-right: auto;
	margin-left: auto;
}

.alert-inner {
	margin-left: 8.3333333333%;
	width: 83.333333333%;
	padding: 15px;
}

.mainbox > .card {
	border: 3px solid white;
	border-radius: 4px;
}

.form-group > .col-sm-6 {
	width: 100%;
}

.btn-float-right {
	float: right;
}

.user-info-block-inline {
	border: 1px solid white; 
	border-radius: 4px; 
	padding: 2px; 
	padding-left: 2px; 
	padding-right: 2px;
	margin-right: 4px;
}

.user-profile-card {
	display: flex;
	flex-direction: row;
}

.user-profile-data {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 1rem;
}

.user-avatar {
	/*width: 9rem;*/
	/*height: 10.7rem;*/
	font-size: 5.5rem;
	margin-right: 1rem;
}

.bordered {
	border: 3px solid white;
	border-radius: 4px;
}

.user-data-row-1 {
	width: 9rem;
}

.error {
	color: red;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
}

.input-field-clamp {
	max-width: 40rem;
	min-width: 24rem;
	width: 45%;
	margin-right: 1rem;
}

.input-with-error {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.flex-column-centered {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-row-centered {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.width-7 {
	width: 7rem;
}

.info-box-clamp {
	margin-top: 1rem;
	margin-left: 4rem;
	margin-right: 4rem;
}

.icon-box {
	width: 4rem;
	height: 4rem;
}

.icon-box2 {
	width: 3.4rem;
	height: 3.4rem;
	margin-left: .3rem;
}

.fine-print {
	font-size: .8rem;
}