<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Access Denied</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- My Custom Styles -->
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body class="body-dark body-color-white">

	<h2>Access Denied - You are not authorized to access this resource.</h2>

	<hr>
	
	<a th:href="@{/}">Back to Home Page</a>
	
</body>

</html>